@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Poppins:wght@400;700&display=swap');


body{
    background-color: rgba(188, 228, 228, 0.363);

}

.logo{
    margin-right: 10px;
}

.hero{
    display:flex;
    gap: 30 px;
    background-color: rgba(188, 228, 228, 0.363);
}

.hero img{
    padding: 10px;
}

.hero-content{
    padding: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.carousel-inner .carousel-item {
    height: 700px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


h1 {
    background-color: rgba(89, 230, 215, 0.322);
    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    margin: 10px;
    
}

h3 {
    font-family: "Glass Antiqua", cursive;
    text-align: center;
    font-size: 32px;
    font-weight: 200px;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}



/*Personal*/
.container-staff{
    display:flex;
    width: 300px;
    flex-direction: column;
    background-color: rgba(188, 228, 228, 0.363);
}

.staff-info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgba(89, 230, 215, 0.322);
}


.staff-info h2{
    font-size: 24px;
}

.staff img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.staff{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

/*galeria*/
#galeria .col-lg-4 {
    padding: 25px;
}

#galeria img {
    width: 100%;
    height: 240px;
}

#galeria img:hover {
    border: 5px solid white;
}

#video .col-lg-3 {
    padding: 25px;
}

#video img {
    width: auto;
    height: auto;
}

#video iframe:hover {
    border: 5px solid white;
}


